@{ ViewData["Title"] = "Home Page"; }
<!--http://www.dotnetcurry.com/aspnet/1383/modern-web-dev-aspnet-core-webpack-vuejs-->
<div id="app"></div>
@section scripts {
    <script src="~/dist/main.js" asp-append-version="true"></script>
}
